.vscode/**
.vscode-test/**
src/**
scripts/**
images/**
!images/icon.png
!images/icon.svg
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
!src/webview/*.html
videos/**